<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>

    </style>
</head>
<body>

    <div id="app">
        <h1>Esercizio 4</h1>
        <p>Calcolo età:</p>
        <input type="number" v-model="yearOfBirth" placeholder="Inserisci anno di nascita">
        <button @click="calculateAge">Calcola Età</button>
        <p v-if="eta === 0">Errore: inserisci un anno valido.</p>
        <p v-else>
            {{ messaggioEta }}
            <span v-if="eta > 0">(Età: {{ eta }})</span>
        </p>
    </div>

    <script src="https://unpkg.com/vue@3"></script>
    <script src="./app.js"></script>
</body>
</html>